<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gx.smart.smartoa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SmartOAApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WebViewActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.ui.contact.ContactActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ui.Intelligence.IntelligenceParkingActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ui.user.UserActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ui.action.MineActionActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ui.air.AirQualityActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ui.setting.SettingActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ui.repair.RepairActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ui.work.SharedWorkActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ui.meetings.MeetingScheduleActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ui.company.MineCompanyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ui.visitor.VisitorActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ui.attendance.AttendanceActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ui.features.AllFeatureActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ui.messages.MessageActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ui.environmental.EnvironmentalActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ui.splash.SplashActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ui.login.LoginActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <!-- WebSocket推送服务 -->
        <service
            android:name=".activity.ui.environmental.websocket.WebSocketClientService"
            android:enabled="true"
            android:label="WebSocketService">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
            </intent-filter>
        </service>

        <receiver android:name=".activity.ui.environmental.websocket.WebSocketBroadcastReceiver">
            <intent-filter android:priority="200">
                <action android:name="com.gx.websocket.broadcastereceiver" />
            </intent-filter>
        </receiver>

        <!-- 文件提供者，个人头像拍照编辑时用到 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>